<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime/Movies</title>
    <script src="https://kit.fontawesome.com/d81acf0f70.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/CSS/style.css">
    {{{_sections.head}}}
</head>

<body>
    <nav>
        <a href="/">Home</a>
        <i id="navOpen" class="fas fa-bars"></i>
    </nav>
    <div class="nav-page custom-flex flex-align hidden">
        <p id="navClose">X</p>
        <ul>
            {{#if loggedIn}}
            <a href="/members">
                <li>Home</li>
            </a>
            {{else}}
            <a href="/">
                <li>Home</li>
            </a>
            {{/if}}
            {{#if loggedIn}}
            <li id="logoutBtn">Logout</li>
            {{else}}
            <a href="/login">Login / Register</a>
            {{/if}}
        </ul>
    </div>
    {{{body}}}

    <script src="/JS/index.js"></script>
</body>

</html>