{{#section 'head'}}
<!-- stuff that goes in head...example: -->
<link href="/CSS/homeAnimation.css" rel="stylesheet">
{{/section}}

<!-- Particles.js div -->
<div id="particles-js">
    <div class="heading">
        <h1>AniMoves</h1>
        <h3>Create your favorite anime and movie lists here</h3>
    </div>
</div>

<!-- Import Particles.js and app.js files -->
<script src="particles.js-master/particles.js">
</script>
<script src="/particles.js-master/demo/js/app.js">
</script>