* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    min-height: 100%;
}
/* nav elements */
nav {position: relative;}
nav a, nav i {
    position: absolute;
    color: white;
    font-size: 30px;
    cursor: pointer;
}
nav a {
    top: 20px;
    left: 20px;
    text-decoration: none;
}
nav i {
    top: 20px;
    right: 20px;
}

.nav-page {
    background: #555;
    color: #fff;
    font-size: 30px;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    z-index: 10;
}
.nav-page p {
    position: absolute;
    top: 20px;
    right: 20px;
}
.nav-page ul {
    list-style: none;
}
.nav-page a {
    color: #fff;
    text-decoration: none;
}

.slideIn {animation: slideIn 0.7s linear;}
.slideOut {animation: slideOut 0.7s linear;}

@keyframes slideIn {
    0% {
        height: 0%;
    }
    100% {
        height: 100%;
    }
}
@keyframes slideOut {
    0% {
        height: 100%;
    }
    100% {
        height: 0%;
    }
}

/* End nav elements. */
/* Helpers */
.custom-flex {
    display: flex;
    justify-content: center;
}
.flex-align {align-items: center;}
.hidden {display: none;}
/* End helpers */
/* login page */
.login-page {
    background: linear-gradient(to bottom right, #111 10%, 75%, #999 90%);
    width: 100%;
    height: 100%;
}
/* login page end */